[user]
	name = Nathan Jones
	email = nathan@ncjones.com
[core]
	editor = vim
	excludesfile = /Users/nathan/.gitignore_global
[pull]
	rebase = true
[alias]
	st = status --short --branch
	graph = log --graph --all --decorate
	co = checkout
	ci = commit --verbose
	please = push --force-with-lease
	it = !git init && git commit -m "root" --allow-empty
	grog = log --graph --abbrev-commit --decorate --all \
		'--format=format:"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)"'
[merge]
	tool = vimdiff
[push]
	default = simple
[color]
	ui = auto
