[user]
	name = Nathan Jones
	email = nathan@ncjones.com
[core]
	editor = vim
[pull]
	rebase = true
[alias]
	st = status
	graph = log --graph --all --decorate
	co = checkout
	ci = commit --verbose
[merge]
	tool = meld
[push]
	default = simple
