# vim: ft=sh

proxyon() {
  proxy='localhost:9999'
  export http_proxy=http://$proxy
  export https_proxy=http://$proxy
}

proxyoff() {
  unset http_proxy https_proxy
}

alias xclipin='xclip -i -selection clipboard'
alias xclipout='xclip -o -selection clipboard'

alias xj='xml2json /dev/stdin'

# cd to git root
alias gr='
 git branch > /dev/null 2>&1 || return 1
 cd "$(git rev-parse --show-cdup)".
'
alias tags='ctags -R --fields=+l'
alias http='REQUESTS_CA_BUNDLE=$HOME/.mitmproxy/mitmproxy-ca-cert.cer http'
alias bc='bc -ql'
alias vimdiff='nvim -d'

t() {
  which entr >/dev/null || {
    echo "brew install entr"
    return 1
  }
  projectRoot="$(git rev-parse --show-toplevel)" # for monorepo
  commitedFiles="$(git diff origin/master... --name-only)"
  changedFiles="$(git status --porcelain | awk '{print $2}')"
  echo "$projectRoot/$commitedFiles" "$projectRoot/$changedFiles" | xargs ls | entr -c sh -c "echo && $*"
}

# Define "light" and "dark" for manually switching iterm theme and set theme
# automatically based on OS setting.
# See: https://matthew.nz/view/automatic-dark-mode-for-iterm2
terminal_profile() {
  echo -e "\033]1337;SetProfile=$1\a"
}
alias dark='export LC_APPEARANCE=dark && terminal_profile dark'
alias light='export LC_APPEARANCE=light && terminal_profile light'
if [ -z "$SSH_CLIENT" ]; then
  # Detect OSX dark mode
  appearance=$(defaults read -g AppleInterfaceStyle 2>/dev/null || echo "Light")
  if [ $appearance = 'Dark' ]; then
    dark
  else
    light
  fi
fi
